@import './vars.css';

/* This file can be both imported and composed from (via CSS module). Import will cause the default typography family,
 * size, and line-height to apply to the root element and should be done only ONCE in your app. Composing will only
 * bring in the font-family, which can be used sparing when resetting font family is necessary. */

:root,
.default {
  font-family:
    Lato,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: var(--typeDefaultSize);
  line-height: 1.6;
  color: var(--blackTypeColor);
}

h1 { font-size: var(--typeTitle4Size); }
h2 { font-size: var(--typeTitle5Size); }
h3 { font-size: var(--typeTitle6Size); }
h4 { font-size: var(--typeTitle7Size); }
