@font-face {
  font-family: fontello;
  src: url('./fonts/fontello.eot?31516366');
  src:
    url('./fonts/fontello.eot?31516366#iefix') format('embedded-opentype'),
    url('./fonts/fontello.woff2?31516366') format('woff2'),
    url('./fonts/fontello.woff?31516366') format('woff'),
    url('./fonts/fontello.ttf?31516366') format('truetype'),
    url('./fonts/fontello.svg?31516366#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* This is for you to use composition to import font face defined above so you don't need to import this file */
.default {
  display: inherit;
}
