@font-face {
  font-family: fontello;
  src: url('./fonts/fontello.eot?52090415');
  src:
    url('./fonts/fontello.eot?52090415#iefix') format('embedded-opentype'),
    url('./fonts/fontello.woff2?52090415') format('woff2'),
    url('./fonts/fontello.woff?52090415') format('woff'),
    url('./fonts/fontello.ttf?52090415') format('truetype'),
    url('./fonts/fontello.svg?52090415#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* This is for you to use composition to import font face defined above so you don't need to import this file */
.default {
  display: inherit;
}
