:root {
  --sqRootOfTwo: 1.4142135623731;
  --pi: 3.1415926535897932384626433832;
  --tau: 6.283185307179586;
  --phi: 1.618033988749894848204586834;
  --transparentColor: transparent;
  --greenFeatureColor: #2EAA51;
  --blueFeatureColor: #0F84DB;
  --purpleFeatureColor: #8C50B2;
  --redFeatureColor: #DF1765;
  --aquaFeatureColor: #00A2AD;
  --blackTypeColor: #282828;
  --greyTypeColor: #93939E;
  --greyFeatureColor: #93939E;
  --lightBackgroundColor: #F0F4F7;
  --whiteTypeColor: #FFF;
  --whiteBackgroundColor: #FFF;
  --tinySpacing: 0.8rem;
  --smallSpacing: 1.6rem;
  --defaultSpacing: 2.4rem;
  --largeSpacing: 4.8rem;
  --extraLargeSpacing: 6.4rem;
  --typeTitle1Size: 5.6rem;
  --typeTitle2Size: 4.2rem;
  --typeTitle3Size: 3.2rem;
  --typeLargeSize: 2.8rem;
  --typeDefaultSize: 2.4rem;
  --typeSmallSize: 1.9rem;
  --defaultPadding: var(--tinySpacing) var(--smallSpacing);
}
