@import 'pw-base-css/vars.css';

.base {
  position: relative;
  min-height: 2rem;
  line-height: 2rem;
  padding: 0 var(--tinySpacing) 0 var(--smallSpacing);
  margin: var(--minuteSpacing) 0;
  font-weight: bold;
}

.bar-bg {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bar-fg {
  transition: width 1s ease;

  &.light { fill: #FFFFFF1A; }
  &.dark { fill: #0000001A; }
}
