@import 'pw-base-css/vars.css';

.stealthy {
  display: none;
}

.base {
  composes: default from 'pw-base-css/typography.css';
  display: block;
  padding: var(--defaultPadding);
}

.label {
  color: var(--greyFeatureColor);
}

.icon {
  composes: icon from 'pw-component-icon/styles.css';
  margin-right: var(--tinySpacing);

  &::before {
    content: var(--iconCircleThin);
  }
}

.stealthy:checked + .label {
  color: var(--greenFeatureColor);

  & .icon {
    &::before {
      content: var(--iconCheckInCircle);
    }
  }
}
