@import 'pw-base-css/vars.css';

.base {
  composes: default from 'pw-base-css/typography.css';
  display: flex;
  flex-direction: column;
  color: var(--blackTypeColor);
}

.tab-labels {
  flex-basis: auto;
  display: flex;
  background-color: color(var(--lightGreyColor));
}

.tab-label {
  flex-grow: 1;
  text-align: center;
  padding: var(--tinySpacing) var(--smallSpacing);
  cursor: pointer;
  user-select: none;
}

.tab-label-selected {
  composes: tab-label;
  background-color: color(var(--lightBackgroundColor));
}

.tab-content {
  background-color: color(var(--lightBackgroundColor));
  padding: var(--smallSpacing);
  flex-grow: 1;
}
