@import 'pw-base-css/vars.css';

.base {
  composes: default from 'pw-base-css/typography.css';
  margin-left: var(--minuteSpacing);
  margin-right: var(--minuteSpacing);
  text-decoration: none;
  font-weight: bold;
  transition: filter 0.1s linear;
  cursor: pointer;
}

.link {
  color: var(--blackTypeColor);
  border-bottom: 0.1rem currentColor dotted;

  &:hover {
    filter: opacity(80%);
  }
}

.button {
  @apply --default-border-and-radius;

  padding: var(--minuteSpacing) var(--smallSpacing);
  color: var(--greenFeatureColor);
  display: inline-block;
  border-color: currentColor;
  background-color: currentColor;

  & .inner {
    color: var(--whiteTypeColor);
  }

  &:hover {
    filter: opacity(80%);
  }
}

.active {
  composes: button;
  border-bottom: none;

  /* 0.15rem is the precise number needed to make the background extend beyond the reach of the content
     It is not expected to be reused and so it is not a variable */
  padding: 0.15rem var(--minuteSpacing); /* stylelint-disable-line unit-whitelist */
}
