@import 'pw-base-css/vars.css';

.base {
  @apply --default-shadow;

  display: flex;
  position: fixed;
  align-items: center;
  padding: var(--tinySpacing) var(--smallSpacing);
  width: 100%;
  background-color: var(--whiteBackgroundColor);
}
