@import 'pw-base-css/vars.css';

.default {
  composes: default from 'pw-base-css/typography.css';
  display: block;
  width: 100%;
  color: var(--blackTypeColor);
  background-color: transparent;
  padding: var(--defaultPadding);
  @apply --default-border-and-radius;
  @apply --placeholder-color;
}

.invalid {
  composes: default from 'pw-base-css/typography.css';
  display: block;
  width: 100%;
  color: var(--blackTypeColor);
  background-color: var(--redBackgroundColor);
  padding: var(--defaultPadding);
  @apply --invalid-border-and-radius;
  @apply --placeholder-color;
}
