@import 'pw-base-css/vars.css';

.default {
  composes: default from 'pw-base-css/typography.css';
  display: block;
  width: 100%;
  height: var(--defaultInputHeight);
  color: var(--blackTypeColor);
  background-color: transparent;
  padding: var(--defaultPadding);
  @apply --default-border-and-radius;
  @apply --placeholder-color;
}

