@import '../../css/vars.css';

.icon {
  font-family: fontello;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope::before { content: var(--iconEnvelope); }
.icon-error::before { content: var(--iconError); }
.icon-credit-card::before { content: var(--iconCreditCard); }
.icon-handset::before { content: var(--iconHandset); }
.icon-bullet-point::before { content: var(--iconBulletPoint); }
.icon-hand-and-coin::before { content: var(--iconHandAndCoin); }
.icon-chat-bubble::before { content: var(--iconChatBubble); }
.icon-money-bag::before { content: var(--iconMoneyBag); }
.icon-finance-details::before { content: var(--iconFinanceDetails); }
.icon-coin-up-arrow::before { content: var(--iconCoinUpArrow); }
.icon-house::before { content: var(--iconHouse); }
.icon-left-arrow-circle::before { content: var(--iconLeftArrowCircle); }
.icon-mortarboard::before { content: var(--iconMortarboard); }
.icon-smile::before { content: var(--iconSmile); }
.icon-check::before { content: var(--iconCheck); }
.icon-umbrella::before { content: var(--iconUmbrella); }
.icon-arrow::before { content: var(--iconArrow); }
.icon-check-in-circle::before { content: var(--iconCheckInCircle); }
.icon-cross::before { content: var(--iconCross); }
.icon-three-line-menu::before { content: var(--iconThreeLineMenu); }
